{% extends "base.html" %}

{% block content %}
    <h2>Add a Blog Entry</h2>
    <form method='post'>
        <div class="grid">
            <div class="grid-item">
                <label for='title'>
                    Title for your new blog:
                </label>
            </div>
            <div class="grid-item">
                <input type="text" id='title' name='title' value='{{blog_title}}'/>
            </div>
            <div class="grid-item error">
                {{title_error}}
            </div>
            <div class="grid-item">
                Your new blog:
            </div>
            <div class="grid-item">
                <textarea name='body' value='{{blog_body}}'></textarea>
            </div>
            <div class="grid-item error">
                {{body_error}}
            </div>
            <div class="grid-item">
                <input type="submit" value='Add Entry' />
            </div>
                    
        </div>
    </form>
    
{% endblock %}