{% extends "base.html" %}

{% block content %}

    {% if entries|length == 0 %}
    <p>No entries yet</p>
    
    {% else %}
        {% for entry in entries %}
            <h3><a name='id' href="./blog?id={{entry.id}}">{{entry.title}}</a></h3>
            <div class="body">{{entry.body}}</div>
            <div class="author">Written by <a name='userid' href="./blog?userid={{entry.owner_id}}">{{entry.owner.username}}</a></div>
            <hr />
    {% endfor %}
        
    {% endif %}

{% endblock %}